<div class="welcome">
    <div class="page-header clear-filter">
        <div class="content-center">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1 class="title">OOPS!</h1>
                    <h2 class="title">404: Page not found</h2>
                    <a href="/admin/dashboard" class="btn btn-sm btn-info">GO BACK</a>
                </div>
            </div>
        </div>
    </div>
</div>