<div class="offline-doc">
  <div class="page-header clear-filter">
    <div class="page-header-image" style="background-image: url('/images/cover.jpg');"></div>
    <div class="content-center">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <h1 class="title">
            Administration Fpoly
          </h1>
          <h3 class="description">Wellcome to Web</h3>
          <br />
          <a href="/admin/sign_in"
            class="btn btn-info btn-round btn-lg">Get started</a>
        </div>
      </div>
    </div>
  </div>
{{>footer}}
</div>